body {
    color: #fff;
    background: #7641BD;
    font-family: 'Roboto', sans-serif;
}

.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
}
.form-control, .btn {        
    border-radius: 3px;
}
.login-form {
    width: 500px;
    margin: 0 auto;
    padding: 30px 0;
}
.login-form form {
    color: #999;
    border-radius: 10px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    color: #7641BD;
    font-weight: 400;
    font-size: 300%;
    margin-top: 0;
}
.login-form hr {
    margin: 0 -30px 20px;
}
.login-form .form-group {
    margin-bottom: 20px;
}
.login-form label {
    font-weight: bold;
    font-size: 20px;
}
.login-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
}	
.login-form .input-group-addon {
    max-width: 42px;
    text-align: center;
}
.login-form input[type="checkbox"] {
    margin-top: 2px;
}   
.login-form .btn-signup{        
    font-size: 16px;
    font-weight: bold;
    background: #FB963C;
    border-color: #FB963C;
    color: #ffffff;
    min-width: 140px;
    text-decoration: none;
}
.login-form .btn-login{        
    font-size: 16px;
    font-weight: bold;
    background:#ffffff;
    border-color: #7641BD;
    color:  #7641BD;
    min-width: 140px;
}
.login-form .btn-signup:hover, .login-form .btn:focus {
    background: #ffffff;
    border-color: #FB963C;
    color: #FB963C;
    text-decoration: none;
}

.login-form .btn-reset {
    background: #ffffff;
    border-color: #FB963C;
    color: #FB963C;
    text-decoration: none;
    font-weight: bold;
}

.login-form .btn-reset:hover, .login-form .btn:focus {        
    /* font-size: 16px; */
    font-weight: bold;
    background: #FB963C;
    border-color: #FB963C;
    color: #ffffff;
    min-width: 140px;
    text-decoration: none;
}

.login-form .btn-login:hover, .login-form .btn:focus {
    background: #7641BD;
    border-color: #7641BD;
    text-decoration: none;
    color: #fff;
}

.login-form p {
    color:#FB963C;
}
.login-form a {
    color: #fff;	
    text-decoration: underline;
}
.login-form a:hover {
    text-decoration: none;
}
.login-form form a {
    color: #FB963C;
    text-decoration: none;
}	
.login-form form a:hover {
    text-decoration: underline;
}
.login-form .fa {
    font-size: 21px;
}
.login-form .fa-paper-plane {
    font-size: 18px;
}
.login-form .fa-check {
    color: #fff;
    left: 17px;
    top: 18px;
    font-size: 7px;
    position: absolute;
}

#container {
    width: auto;
    padding: 0 0;

}

.form-control {
    font-size: larger;
}

.btn-success {
    background-color: purple;
}